.container {
  min-height: 100vh;
  display: grid;
  grid-template:
    'top top top' 200px
    'main main main'
    'footer footer footer';
  --main-color: #fff;
  --background-color: #141318;
  --secondary-color: #6a7281;
  --link-color: #0076df;
  --border-color: #e5e7eb;
}

.top {
  grid-area: top;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top > span {
  color: var(--secondary-color);
}

.total {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--main-color);
  /* margin-left: auto; */
}

.newRecordButton {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  font-size: 1.5rem;
  background-color: var(--main-color);
  border: solid 3px var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
}

.targetMonth {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.targetMonth > button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.3rem;
  margin: 0 1rem;
  color: var(--secondary-color);
}

.records {
  /* border: solid 1px; */
}

.recordsList {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.recordItem {
  border-bottom: solid var(--border-color) 1px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.recordCategory {
}

.recordAmount {
}

.noRecord {
  padding: 1rem;
  text-align: center;
}

.recordDate {
  color: var(--secondary-color);
  position: absolute;
  font-size: 0.7rem;
  bottom: 4px;
}

.footer {
  grid-area: footer;
  /* border: solid yellow 2px; */
}
